<h2>Accounts</h2>



<p *ngIf="accounts.length === 0">No accounts found!</p>
<ul>
  <li *ngFor="let account of accounts">
    <a [routerLink]="['/accounts', account.accountNumber]">{{account.id}}—{{ account.ownerName }}</a> — ₱{{
    account.balance }}
  </li>
</ul>

<h3>Create Account</h3>
<form (ngSubmit)="onSubmit()">
  <input type="text" [(ngModel)]="ownerName" name="ownerName" placeholder="Owner Name" required>

  <select [(ngModel)]="accountType" name="accountType">
    <option value="SAVINGS">Savings</option>
    <option value="CHECKING">Checking</option>
  </select>

  <input type="number" [(ngModel)]="initialBalance" name="initialBalance" placeholder="Initial Balance" required>

  <button type="submit">Create Account</button>
</form>